body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body main {
    position: relative;
    background-image: url("./afbeeldingen/ochtend.GIF");
    background-size: cover;
    background-position: 50% 74%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    transition: 700ms;
}

body main h1 {
    text-align: center;
    font-size: 26px;
    margin: 10px 0 10px;
    color: #373737;
}

body main img {
    width: 100%;
}

body main section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

body main section:nth-of-type(1) section {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84%;
    margin: 17px 15px;
    background-color: #d0baad;
    padding: 10px;
}

body main section p {
    width: 80%;
    font-size: 15px;
    margin: 10px;
    text-align: center;
}

body main section:nth-of-type(2) {
    width: 100%;
    height: 70%;
}

body main section:nth-of-type(2) article {
    width: 100%;
    height: 100%;
    position: relative;
}

main article span {
    display: block;
    position: absolute;
    bottom: 9px;
    width: 80%;
    left: 10%;
}

body main form {
    display: flex;
    flex-direction: column;
    margin: 30px 75px 0 0;
}

body form input {
    display: none;
}

body form label {
    height: 50px;
    width: 160px;
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 4px 4px -1px #000000;
    transition: 200ms;
}

body form label:hover {
    background-color: rgb(167, 167, 167);
}

body form input:checked+label {
    background-color: rgb(128, 168, 68);
    margin: 4px -4px 16px 4px;
    box-shadow: none;
    transition: 200ms
}


/* ---------- Trein ---------- */

.trein {
    display: block;
    position: absolute;
    width: 100%;
    transform: scaleY(0.9);
    bottom: 7%;
    left: 0;
}

.trein .cls-1 {
    opacity: 0.5;
}

.trein .cls-2 {
    fill: #80bcb3;
}

.trein .cls-3 {
    fill: #d0baad;
}

.trein .cls-4 {
    fill: #736357;
}

.trein .cls-5 {
    fill: #534741;
}

.trein .cls-6 {
    fill: #998675;
}

.trein .cls-7 {
    fill: #736c66;
}

.trein .cls-8 {
    fill: #928282;
}

.trein .cls-9 {
    fill: #c68660;
}


/* --------------------------- */


/* ---------------- Personen ---------------- */

.char {
    width: 7%;
    position: absolute;
    bottom: 26.4%;
    transition: 200ms;
    opacity: 0.7;
}

.hidden {
    display: none;
    transition: 200ms
}

.char:hover {
    opacity: 1
}

.mobiel {
    transform: rotate(-4deg);
}

/* ---------- Werk kleur ---------- */
.werk .cls-1, .werk .cls-2 {
    fill: #789c7b
}

.werk .cls-10 {
    fill: #608566
}

.werk .cls-8 {
    fill: #a7c1a8
}

.werk .cls-3 {
    fill: #b7bbbc
}

.werk .cls-4 {
    fill: #e5c67f
}

/* ---------- Rust kleur ---------- */
.rust .cls-1 {
    fill: #90afbf;
}

.rust .cls-2 {
    fill: #608bb9;
}

.rust .cls-3 {
    fill: #b8d3e4;
}

.rust .cls-4 {
    fill: #918d8b;
}

.rust .cls-5 {
    fill: #77594f;
}

/* ---------- Praat kleur ---------- */

.praat .cls-1 {
    fill: #918d8b;
}

.praat .cls-2 {
    fill: #bc906c;
}

.praat .cls-5 {
    fill: #be6866
}

.praat .cls-3 {
    fill: #a55656;
}

.praat .cls-4 {
    fill: #914646;
}


/* ---------- Overige kleur ---------- */

.overige .cls-1 {
    fill: #918d8b;
}

.overige .cls-2 {
    fill: #77594f;
}

.overige .cls-5 {
    fill: #ffd196
}

.overige .cls-3 {
    fill: #ffe2a7;
}

.overige .cls-4 {
    fill: #dbae7d;
}

.extraOverige .cls-1 {
    fill: #918d8b;
}

.extraOverige .cls-2 {
    fill: #77594f;
}

.extraOverige .cls-5 {
    fill: #ffd196
}

.extraOverige .cls-3 {
    fill: #ffe2a7;
}

.extraOverige .cls-4 {
    fill: #dbae7d;
}

/* ---------- Positionering ---------- */
.a {
    left: 6.5%;
}

.b {
    left: 18%;
}

.c {
    left: 72.5%;
}

.d {
    left: 92.5%;
}

.e {
    left: 28%;
}

.f {
    left: 46.5%;
}

.g {
    left: 2.6%;
}

.h {
    left: 13.1%;
}

.i {
    left: 67%;
}

.j {
    left: 34.8%;
}

.k {
    left: 56.1%;
}

.l {
    left: 24.6%;
}

.m {
    left: 78.3%;
}

.n {
    left: 89.1%;
}
.o {
    left: 36%;
}
.p {
    left: 44%;
}
.q {
    left: 78%;
}
.r {
    left: 87%;
}
.s {
    left: 55.1%;
}
.t {
    left: 66%;
}
