body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body main {
    position: relative;
    display: flex;
    background-image: url("./afbeeldingen/ochtend.GIF");
    background-size: cover;
    background-position: 50% 74%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    transition: 900ms;
}

body main h1 {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 10px;
    color: #373737;
}

body main img {
    width: 100%;
}

body main section {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27%;
    margin: 20px 15px;
    background-color: #d0baad;
    padding: 10px;
}

body main section p {
    width: 80%;
    text-align: center;
}

.trein {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 9%;
    left: 0;
    height: 400px;
    background-color: grey;
}

main article span {
    display: block;
    position: absolute;
    bottom: 9px;
    width: 80%;
    left: 10%;
}

body main form {
    display: flex;
    flex-direction: column;
    margin: 30px 75px 0 0;
}

body form input {
    display: none;
}

body form label {
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 4px 4px -1px #000000;
    transition: 200ms
}

body form label:hover {
    background-color: rgb(167, 167, 167);
}

body form input:checked + label {
    background-color: rgb(128, 168, 68);
    margin: 4px -4px 16px 4px;
    box-shadow: none;
    transition: 200ms
}